@model Entities.Models.ViewModels.ToolListViewModel


<script>
    $(document).ready(function () {
        $('.NO-CACHE').attr('src', function () { return $(this).attr('src') + "?a=" + Math.random() });
    });
</script>


<div class="container">
    <div class="row">
@foreach (var cat in Model.ToolList)
{
    <div id="divtest" style="text-align: center" runat="server" class="col-4 mb-0">
        <div class="card; bg-transparent">
            <div id="shadowheader2" class="c-card" style="height: 208px;">

                    <img class="NO-CACHE" src="~/img/user_img/@(cat.Id).jpg" />

                <div style="height: 5px;"></div>

                <div>
                            <label style="font-size: small; font-weight: bold; color: black">@(cat.Description)</label><br>
                            <label style="font-size: small; font-weight: bold; color: black">$ @(cat.Price)</label>
                </div>

                <div style="height: 7px;"></div>


            </div>
        </div>


        <div>
            <div style="height: 15px;"></div>
                    <a style="width: 55px; background-color: lightgray; font-size: medium; border-color: #44AB4B; border-width:thin; color: black" asp-controller=AddRequest asp-route-id="@(cat.Id)" asp-action=Index class="nav-link; btn btn-sm btn-success">
                Rent
            </a>
            <div style="height: 15px;"></div>
        </div>

        <div style="height: 25px;"></div>

    </div>
}

    </div>


</div>