
@model IEnumerable<Entities.Models.Category>

<div id="toolviews"></div>

<div style="height: 75px;"></div>

<div style="height: 40px;"></div>

<a style="width: 55px; background-color: #EDBA7E; color: red" asp-controller=AddNewListing asp-action=Index class="nav-link; btn btn-sm btn-success">
    List
</a>


<a style="width: 55px; background-color: #EDBA7E; color: red" asp-controller=City asp-action=GetCity class="nav-link; btn btn-sm btn-success">
    City
</a>



<div class="container">

    <div class="row" style="height: 300px;">


        <partial name="_CategoryCard" />


    </div>
</div>
















