
@model IEnumerable<Entities.Models.Category>

<div id="toolviews"></div>

<div style="height: 75px;"></div>

@*<div id="divCategories" class="text-center">
    <div class="container">
        <div class="row">
                    <div style="height: 10px;"></div>
    </div>
        </div>
        <div class="row">
            <div>
            <label style="font-weight:bold; font-size:larger">Pick a category to rent your neighbor's tool</label>
            </div>

            <div>
            <label style="color: lightgray; font-weight:bold; font-size:larger">- or -</label>
            </div>

            <div>
            <label style="font-weight:bold; font-size:larger">Earn side money! And pick a category to list your tool</label>
            </div>

        </div>

</div>*@

<div style="height: 40px;"></div>



@*        <div class="row">
                    <div style="height: 75px;"></div>
                    <partial name="_CategoryCard" />
            </div>
        </div>*@

<a style="width: 55px; background-color: #EDBA7E; color: red" asp-controller=AddNewListing asp-action=Index class="nav-link; btn btn-sm btn-success">
    List
</a>


<div class="container">

    <div class="row" style="height: 300px;">




        <partial name="_CategoryCard" />


@*        <div class="col-4 align-middle">

            <a href="">
            <div class="d-flex align-items-center justify-content-center" style="width: 100%; height: 75%; background-color: #EDBA7E;">
                <img class="NO-CACHE" id="cursorimage1" alt="Tools" src="~/img/o.jpg" />
            </div>
            </a>


        </div>

       

        <div class="col-4 align-middle">

            <a href="">
                <div class="d-flex align-items-center justify-content-center" style="width: 100%; height: 75%; background-color: #E28BA5;">
                    <img class="NO-CACHE" id="cursorimage1" alt="Tools" src="~/img/p.jpg" />
                </div>
            </a>
        </div>

        

        <div class="col-4 align-middle">
            <a href="">
                <div class="d-flex align-items-center justify-content-center" style="width: 100%; height: 75%; background-color: #88B9DD;">
                    <img class="NO-CACHE" id="cursorimage1" alt="Tools" src="~/img/i.jpg" />
                </div>
            </a>
        </div>*@

        

    </div>
</div>
















