html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

img {
    max-width: 100%;
    display: block;
}




#cardbackgroundColor {
    background-color: antiquewhite;
    border: 0px;
    /*//////////////////////////////////////////////////////////////*/
}

.textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}


/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}*/

#CenterText {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

      /*  //////////////////////////////////////////////////////////*/


}

.items {
    display: flex;
    justify-content: space-between;
}




#shadowheader {
    background-color: #88B9DD;
    /*  background-color: #EDBA7E;*/
    margin: 10px auto; /* just to center the div for diaplay purposes */
    -moz-box-shadow: 5px 5px 5px 0px #000;
    -webkit-box-shadow: 5px 5px 5px 0px #000;
    box-shadow: 5px 5px 5px 0px #000;
    margin-bottom: 5px;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    width: 150px;
    height: 285px;
}


#WhiteTitle1 {
    color: white;
    font-size: larger;
}

#WhiteTitle2 {
    color: white;
    font-size: small;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 125px 0;
}

.c-card {
    margin: 5%;
    width: 180px;
}



#cursorimage1 {
    cursor: pointer
}
#cursorimage2 {
    cursor: pointer
}
#cursorimage3 {
    cursor: pointer
}





#shadowheader1Tool {
    background-color: #0A6B80;
    margin: 10px auto; /* just to center the div for diaplay purposes */
    -moz-box-shadow: 5px 5px 5px 0px #000;
    -webkit-box-shadow: 5px 5px 5px 0px #000;
    box-shadow: 5px 5px 5px 0px #000;
    margin-bottom: 5px;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    width: 170px;
    /*height: 228px;*/
}

#shadowheader2Tool {
    background-color: #BF1A26;
    margin: 10px auto; /* just to center the div for diaplay purposes */
    -moz-box-shadow: 5px 5px 5px 0px #000;
    -webkit-box-shadow: 5px 5px 5px 0px #000;
    box-shadow: 5px 5px 5px 0px #000;
    margin-bottom: 5px;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    width: 170px;
    height: 228px;
}

#shadowheader3Tool {
    background-color: #055CFE;
    margin: 10px auto; /* just to center the div for diaplay purposes */
    -moz-box-shadow: 5px 5px 5px 0px #000;
    -webkit-box-shadow: 5px 5px 5px 0px #000;
    box-shadow: 5px 5px 5px 0px #000;
    margin-bottom: 5px;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    width: 170px;
    height: 228px;
}


.centerx {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}



#mainbackgrounds {
    /*    background-image: url("~/wwwroot/img/background.jpg");*/

/*    background-image: url('~/img/background.jpg'); height: 100px;
    width: 100px;*/

    background-color: red;
}


/*.catsandstars {
    background-image: url("startransparent.gif"), url("catfront.png");
    background-color: transparent;
}*/



.square {
    position: relative;
    width: 50%;
    height: 50%;
    padding-bottom: 100%;  
    /*margin: 1.66%*/
    /*background-position: center center;*/*/
    /*background-repeat: no-repeat;
    background-size: cover;*/ /* you change this to "contain" if you don't want the images to be cropped */
    /*overflow: hidden*/
}







