@model Entities.Models.ViewModels.AddNewListingViewModel


<form method="post" asp-action="FormsTestPost" asp-controller="AddNewListing" enctype="multipart/form-data">

    <div style="height: 50px;"></div>
    <div class="container d-flex justify-content-center">
        <div class="row border border-0 border-info" style="width: 500px; height: 475px; background-color: #44AB4B; border-radius: 7px;">
            <div class="col-12">
                <div style="height: 30px;"></div>
                <div style="color: White" class="d-flex justify-content-center"><h1>List Your Rental</h1></div>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <div class="row" style="color: White">
                            <div class="col-12">
                                <label>Select a Category</label>
                                    @Html.DropDownListFor(x => Model.CatId, new SelectList(Model.AllCategories, "Id", "CatName"), "Select a Category ...", htmlAttributes: new { @class = "form-control", id = "ddlCategory"})
                            </div>
                            <div class="col-12">
                                <label>Select Your Tool</label>
                                    @Html.DropDownListFor(x => Model.ToolId, new SelectList(Model.AllTools, "Id", "ToolName"), htmlAttributes: new { @class = "form-control", id = "ddlTool"})
                            </div>
                            <div class="col-12">
                                <label>Enter Daily Price</label>
                                   <input asp-for="Price" width="5px" class="form-control" type="text" data-val="true" data-val-required="The Price field is required" />
                            </div>
                            <div class="col-12">
                                <label>Name Brand and Model</label>
                                <input asp-for="Description" class="form-control" type="text" data-val="true" data-val-required="The Description field is required" />
                            </div>
                            <div class="col-12">
                                <label>Upload a Photo</label>
                                @*<input asp-formaction="FileUpload.FormFile" class="form-control" type="file" />*@



                                <input asp-for="Photo" class="custom-file-input form-control">


                    </div>

                            <div class="col-12">
                                <div style="height: 15px;"></div>

                        <button style="width: 85px; background-color: lightgray; border-radius: 7px; color: black; height: 40px; border-style: none;" type="submit">Submit</button>
                        <div style="height: 10px;"></div>
                            </div>
                </div>
            </div>

        </div>
    </div>
</form>
<div style="height: 65px;"></div>






@section Scripts{
    <script type="text/javascript">
        $("#ddlCategory").on("change", function(){
        var selectedvalue = $(this).val();

        $.ajax({
        url: "/addnewlisting/GetToolList",
        type:"GET",
        dataType:"json",
        data: { CatId: selectedvalue},
        success: function(data){
        console.log({tool_list_data:data});
        var options = "";
           $(data).each(function(key, value){
              options += "<option value='"+ value.id +"'>"+ value.toolName +"</option>"
           });
                    $("#ddlTool").html(options);
        },
        error: function () {
        }
        });
        });
    </script>
}










